/* Write some CSS below */
/* style.css */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
  margin: 0;
  background-color: #f6e7e6;
  padding: 0;
  
}


h1 {
	font-family: 'Signika', sans-serif;
	text-justify: center;

}


a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
/*Custom design*/




.banner {

	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("images/bg4 - ricardo-gomez-angel-Z61MuLuFQDQ-unsplash.jpg");
	background-position:  center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	text-align: right;
	padding: 0px 0px;
	height: 100vh;

}



.header{
	background: rgb(30,30,30);
	text-align: center;
}



.header h1{
	position: absolute;
	font-size: 30px;
	margin-top: 15px;
	margin-left: 10px;
	color: white;
}

.header ul{
	margin: 0;
	padding: 0;
	display: inline-flex;
	list-style: none;
	color: white;

}

.header li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.header img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 4px;
}

.banner h1 {
	margin:0;
	padding: 200px 50px 250px 250px;
	color: rgba(30,30,30,0.8);
	font-size: 45px;
	height: 90vh;
	
}


.button-blue {

	background-color: #3049DE;
	color: white;
	padding: 10px 15px 3px;
	border-radius: 4px;
	display: inline-block;
}


.card-white {

	background-color: #fbf4f9;
	text-align: center;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	padding: 18px;
	border-radius: 3px;
	width: 300px;
	margin:auto;
}

.card-white img{
	width: 300px;
	height: 200px;
	object-fit: contain;
	border-radius: 4px;
}



.sobre{
	
	width: 800px;
	margin: auto;
	height: 90vh;
}

.sobre h2{

	padding-top: 100px;
}
.sobre p{
	text-align: left;
	font-family: 'Signika', sans-serif;
	font-size: 18px;
}


.sb-card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	
}

.sb-img{
	margin-top: 30px;
	text-align: center;
}

.sb-img img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	border-radius: 50%;
}

.contato{
	
	width: 800px;
	margin: auto;
	height: 90vh;
}

.contato h2{
	padding-top: 100px;
}
.contato p{
	padding-top: 50px;
	text-align: center;
	font-family: 'Signika', sans-serif;
	font-size: 50px;
}


.container {

	width: 800px;
	margin: auto;
	margin-top: 200px;
	
}

.container h2{
	padding-top: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}


.footer{
	background-color: #b9cced;
	margin-top: 50px;
	text-align: center;
	padding: 18px;
	color:rgba(50,50,50,0.8);
}



.button-blue {

	background-color: #3049DE;
	color: white;
	padding: 10px 15px 3px;
	border-radius: 4px;
	display: inline-block;
}


  
@media (min-width: 500px) {
  .container {
    width: 400px;
  }

}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }


}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}



@media only screen and (max-width: 768px) {




	body{
		
		width: 840px;
	}

  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
  .header h1{
<<<<<<< HEAD
	font-size: 15px;
	width: 140px;
}

.banner{
	width: 100%;
}

.contato{
	height: 800px;
}

.banner h1{
	font-size: 30px;
}

.sobre,.contato,.container{
	padding: 20px;
}


}











=======
	font-size: 20px;
}



}


>>>>>>> parent of c338e71... Consolidada
